<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundly.order.model.OrderGiftDetailsDao">
    <select id="select" resultType="OrderGiftDetailsDto">
        select * from ORDER_GIFT_DETAILS
        where order_no = #{order_no}
    </select>
</mapper>