<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fundly.chat.dao.SelBuyMsgDao">

    <select id="selectChatRoom" parameterType="ChatRequest" resultType="SelBuyMsgDto">
        select *
        from SEL_BUY_MSG
        where buy_id = #{buy_id}
        and pj_id = #{pj_id}
   </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from SEL_BUY_MSG
    </select>
    <!--    존재하지 않는 pj_id 가 삽입될 경우 참조 무결성 제약조건을 위배한다.  -->
    <insert id="makeChatRoom" parameterType="ChatRequest" >
        insert into SEL_BUY_MSG(buy_id, pj_id, dba_reg_id)
            values (#{buy_id} , #{pj_id}, #{buy_id})

--         채팅방 생성과 동시에 ChatRequest 객체에 생성된 채팅방을 담는다.
<!--        <selectKey order="AFTER" keyProperty="selBuyMsgDto" resultType="ChatRoomEntity">-->
<!--            select * from SEL_BUY_MSG-->
<!--            where user_id = #{user_id} and pj_id = #{pj_id}-->
<!--        </selectKey>-->
    </insert>

    <delete id="deleteAllChatRoom" >
        delete from SEL_BUY_MSG
    </delete>
</mapper>