<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundly.user.model.LikeDao">

    <select id="countLike" resultType="int">
        select count(*) from LIKE_PJ
        where user_id = #{user_id}
        and like_status = 1
    </select>

    <select id="checkLike" resultType="LikeDto">
        select like_status from LIKE_PJ
        where user_id = #{user_id}
        and pj_id = #{pj_id}
    </select>

    <insert id="insertLike">
        insert into LIKE_PJ (user_id,pj_id,like_status)
        values(#{user_id},#{pj_id},1)
    </insert>

    <update id="cancelLike">
        update LIKE_PJ
        set like_status = 0
        where user_id = #{user_id}
        and pj_id = #{pj_id}
    </update>

    <update id="reLike">
        update LIKE_PJ
        set like_status = 1, like_dtm = NOW()
        where user_id = #{user_id}
        and pj_id = #{pj_id}
    </update>

    <select id="AllLikeListWithPj" resultType="LikeProjectDto">
        select a.*,b.*
        from pj a , like_pj b
        where b.user_id = #{user_id}
          and a.pj_id = b.pj_id
          and a.pj_status = '012006'
          and b.like_status = 1
        order by b.like_dtm desc
    </select>

    <select id="getLikeWithPj" resultType="LikeProjectDto">
        select a.*,b.*
        from pj a , like_pj b
        where a.pj_id = #{pj_id}
          and b.user_id = #{user_id}
    </select>

    <delete id="deleteAllLike">
        delete from LIKE_PJ
        where user_id = #{user_id}
    </delete>

    <delete id="deleteLike">
        delete from LIKE_PJ
        where user_id = #{user_id}
        and pj_id = #{pj_id}
    </delete>

    <select id="AllLikeList" resultType="LikeDto">
        select * from LIKE_PJ
        where user_id = #{user_id}
        and like_status = 1
        order by like_dtm desc
    </select>

    <select id="selectPage" parameterType="map" resultType="LikeDto">
        select * from LIKE_PJ
        where like_status = 1
        order by like_dtm desc
        LIMIT #{offset}, #{pageSize}
    </select>

<!--    좋아요목록 진행중 상태만-->
<!--    <select id="IngLikeList" resultType="LikeDto">-->
<!--        select * from LIKE_PJ-->
<!--        where user_id = #{user_id}-->
<!--        and like_status = 1-->
<!--        and pj_status = 'ing'-->
<!--    </select>-->

<!--    좋아요목록 종료된 상태만-->
<!--    <select id="EndLikeList" resultType="LikeDto">-->
<!--        select * from LIKE_PJ-->
<!--        where user_id = #{user_id}-->
<!--        and like_status = 1-->
<!--        and pj_status = 'end'-->
<!--    </select>-->

<!--    펀딩종료일자 빠른 순으로 나열-->
<!--    <select id="LikeListByEndTime" resultType="LikeDto">-->
<!--        select * from LIKE_PJ-->
<!--        where user_id = #{user_id}-->
<!--        and like_status = 1-->
<!--        order by fund_end_dtm-->
<!--    </select>-->

</mapper>