<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundly.user.model.OauthDao">

    <!-- userjoin check -->
    <select id="check" resultType="INTEGER">
        SELECT count(*)
        FROM oauth_info
        WHERE user_email = #{user_email}
    </select>

    <!-- OauthInfo -->
    <select id="OauthInfo" resultType="OauthDto">
        SELECT *
        FROM oauth_info
        WHERE access_token = #{access_token}
    </select>

    <!-- Oauth Insert -->
    <insert id="insert" parameterType="OauthDto">
        INSERT INTO oauth_info (snsId,
                                user_email,
                                refresh_token,
                                access_token,
                                user_name)
        VALUES(#{snsId},
               #{user_email},
               #{refresh_token},
               #{access_token},
               #{user_name});
    </insert>

    <update id="update" parameterType="OauthDto">
        UPDATE oauth_info
            SET refresh_token =#{refresh_token},
                access_token = #{access_token}
        WHERE user_email = #{user_email}

    </update>
</mapper>