<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundly.user.model.UserDao">

<!--    <insert id="insert" parameterType="userDto">-->
<!--        INSERT INTO user_info (`user_id`, `user_name`, `user_pwd`, `user_email`,`dba_reg_dtm`,`dba_reg_dtm`)-->
<!--        VALUES(#{user_id}, #{user_name}, #{user_pwd}, #{user_email}, #{dba_reg_dtm}, #{dba_reg_id});-->
<!--    </insert>-->

<!--    <select id="count" resultType="int">-->
<!--        SELECT COUNT(*) FROM user_info-->
<!--    </select>-->
<!--    -->
</mapper>