* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*border-radius :5px;*/
}
input, textarea {
    border: none;
    outline:none;
}
/*input[type=number]의 오른쪽 화살표 없애기*/
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
input::placeholder, textarea::placeholder {
    color: #9e9e9e;
}

body {
    background-color: #fcfcfc;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}
.goal .pjInfo .pjNotice {
    padding: 20px 24px 20px 50px;
}
.goal .pjInfo .pjNotice p.pjNoticeCont{
    padding-bottom: 5px;
}
.goal .pjInfo .pjNotice p.pjNoticeCont::before {
    content:"*";
    font-size: 12px;
    font-weight: 400;
    padding-right: 5px;
}

.goal .pjForm {
    padding: 32px 24px 24px;
}
.goal .pjForm div.goalTit p{
    color: #3d3d3d;
    margin: 0 0 8px;
    font-size: 11px;
    font-weight: 700;
}
.goal .pjForm .goalBx {

}
.goal .pjForm .goalBx .inputBx {
    border : .5px solid #ececec;
    border-radius: 0;
    height: 43.7px;
    padding: 0 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.goal .pjForm .goalBx .inputBx input{
    width: 100%;
    border: none;
    padding: 11px 5px;
    text-align: right;
}

.goal .pjForm .goalCalc {
    margin: 8px 0 0;
    padding: 25px 22px 15px;
    display: flex;
    flex-direction: column;

}
.goal .pjForm .goalCalc div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.goal .pjForm .goalCalc .result{
    margin: 0 0 11px;
    padding: 0 0 16px;
    border-bottom: .5px solid #ececec;
}
.goal .pjForm .goalCalc .result span{
    padding: 5px 0 0;
    font-size: 12px;
}
.goal .pjForm .goalCalc .result em {
    font-size: 18px;
    color: #f86453;
    font-weight: 700;
}
.goal .pjForm .goalCalc .fee {

}
.goal .pjForm .goalCalc .fee span{
    color: #9e9e9e;
    margin: 0 0 3px;
    font-size: 12px;
}
.goal .pjForm .goalCalc .fee em{
    color: #3d3d3d;
    font-size: 12px;
}

.plan .pjForm li {
    padding: 0 0 38px 18px;
    position: relative;
    border-left: .3px solid #dadada;
}
.plan .pjForm li > div {

}
.plan .pjForm li:last-child {
    padding-bottom: 0;
    border-left: 0;
}
.plan .pjForm li::before {
    display:block;
    content:"";
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #000000;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -4.5px;

}
.plan .pjForm .listBx li p.tit {
    font-size: 12px;
    margin : 0 0 4px;
    line-height: 20px;
    font-weight: 500;
}

.plan .pjForm .start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plan .pjForm div > div > button {
    width: 298px;
    height: 40px;
    padding: 0 14px;
    border: .5px solid #ececec;
    line-height: 100%;
    background-color: #ffffff;
    color: #3d3d3d;
    font-size: 14px;
    text-align: left;
}
.plan .pjForm div > div > button > span {
    padding: 0 10px;
}
.plan .pjForm li .days{
    padding: 46px 0 0;
}
.plan .pjForm li .days p.cont {
    color: #9e9e9e;
    font-size: 14px;
}
.plan .pjForm li .start .startH button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.plan .pjForm li .notice {
    margin: 10px 0;
    padding: 16px 46px 16px 26px;
    border: .5px solid #ececec;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 8px, rgba(0, 0, 0, 0.1) 0 1px 0;
}
.plan .pjForm li .close div button {
    width: 100%;
}
.plan .pjForm .payEnd p, .plan .pjForm .payIn p{
    color: #9e9e9e;
}
