* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border-radius :5px;
    /*font-family: "Noto Sans KR", sans-serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: 400;*/
    /*font-size: 14px;*/
    /*font-style: normal;*/
}


a {
    text-decoration: none;
    color: #3d3d3d;
}
button {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}
button:hover {
    cursor: pointer;
}
body {
    background-color: #ffffff;
}

.topContents {
    display: flex;
    flex-direction: column;
    /*width: 1080px;*/
    margin: 0 163.3px;
    color: #0d0d0d;
    background-color: #ffffff;

}
.topContents .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin:0 163.3px;*/
    width: 1080px;
    height: 64px;
    z-index: 9;
    background-color: #ffffff;


}
.topContents .header div.hBtnWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 252px;
    height: 64px;
}
.topContents .header div.hBtnWrap > button {
    width: 120px;
    height: 40px;
    padding: 0 16px;
    font-size: 12px;
    box-sizing: content-box;
    line-height: 40px;
    font-weight: 500;
}
.topContents .header div.hBtnWrap > button.preview {
    margin: 0 12px 0 0;
    background-color: #ffffff;
    border: 1px solid #ececec;
    color: #0d0d0d;
}
.topContents .header div.hBtnWrap > button.cancel {
    display: none;
    margin: 0 12px 0 0;
    background-color: #ffffff;
    border: 1px solid #ececec;
    color: #0d0d0d;
}
.topContents .header div.hBtnWrap > button.preview i{
    font-size: 10px;
    color: #0d0d0d;
}
.topContents .header div.hBtnWrap > button.save {
    background-color: #f86453;
    border: 1px solid #f86453;
    color: #ffffff;
}
.topContents .header div.hBtnWrap > button.modify {
    display: none;
    background-color: #74b6a5;
    border: 1px solid #74b6a5;
    color: #ffffff;
}
.topContents .header div.hBtnWrap > button.hidden {
    display: none;
}
.topContents .topContentsWrapper{
    margin-top: 64px;
    width: 1080px;
    height: 104px;
    /*margin: 0 163.3px;*/
    padding: 39px 0 21px;
}

.topContents .topContentsWrapper > span{
    display: inline-block;
    margin:0;
    padding:0;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
}
.topContents .fixedContentWrapper{
    width: 1080px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*margin: 0 163.3px;*/
}
.topContents .fixedContentWrapper.fixed{
    position: fixed;
    top: 64px;
    z-index: 9;
    background-color: #ffffff;
}
.topContents .fixedContentWrapper div.planWrap{
    width: 1080px;
    height: 60px;
}
.topContents .fixedContentWrapper > div.planWrap > ul{
    width: 757px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topContents .fixedContentWrapper > div.planWrap > ul > li > a {
    font-size: 14px;
    font-weight: 500;
}
.topContents .fixedContentWrapper > div:not(.planWrap){
    width: 1406.67px;
    height: 48.85px;
    border-top: .5px solid #ececec;
    border-bottom: .5px solid #ececec;
}
