* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    /*border-radius :5px;*/
}
input {
    outline:none;
}
/*input[type=number]의 오른쪽 화살표 없애기*/
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

body {
    background-color: #fcfcfc;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    /*color: #212121;*/
}
div {
    border-radius: 4px;
}
div.subHead {
    width: 100%;
    border-top: .5px solid #ececec;
    border-bottom: .5px solid #ececec;
    background-color: #ffffff;
}
/*헤더의 일부*/
div.subHead.fixed {
    position: fixed;
    top: 124px;
    z-index: 9;

}
div.subTab{
    width: 1080px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 163.3px;


}
div.subTab > div.leftTab{
    width: 135px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.subTab > div.leftTab > button {
    height: 24px;
    border: none;
    background-color: transparent;
    color: #3d3d3d;
    margin: 0 18px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.subTab > div.leftTab > button > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.subTab > div.leftTab > button > div > i{
    font-size: 10px;
    display: block;
    font-weight: 600;
    color: #c4c4c4;
    margin-top: 2px;
}
div.subTab > div.leftTab > button > div > span{
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #c4c4c4;
}

div.subTab > div.leftTab > button.active > div > i {
    color: #f86453;

}
div.subTab > div.leftTab > button.active > div > span {
    color: #3d3d3d;
    font-weight: 700;
}

div.subTab > div.rightBtn {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #3d3d3d;
}

div.subTab > div.rightBtn > div > a {
    height: 36px;
    border: .5px solid #ececec;
    border-radius: 45px;
    padding: 0 17px;
    margin-left: 12px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.subTab > div.rightBtn > div > a > span{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-left: 5px;
}

div.subTab > div.rightBtn > div > a > i{
    font-size: 11px;
    font-weight: 700;
    color: #f86453;
}
/*여기까지 헤더의 일부*/



/*진짜 main 요소들*/
.pjWrap {
    width: 100%;
    box-shadow: inset 0 15px 10px -14px #ececec;
    border-radius: 0;
}
.pjWrap .pjCont {
    width: 1080px;
    /*margin: 0 163.3px;*/
    margin: 0 auto;
    padding: 44px 0 0;
}
.pjBox.str, .pjBox.gift, .pjBox.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1080px;
}
.pjBox.str {
    border-bottom : none;
}
.pjBox .pjInfo {
    width: 360px;
    padding: 0 12px 24px;
}

.pjBox .pjInfo .myList {
    color: rgb(13, 13, 13);
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px;
}
.pjBox .pjInfo .listCon{
    background-color: #ffffff;
    border: .5px solid #ececec;
    height: 166px;
}
.pjBox .pjInfo > div > .listCon p{
    font-size: 12px;
    color: #6d6d6d;
    text-align: center;
    line-height: 166px;
}
.pjBox.str .pjForm {
    margin-top: 10px;
}
.pjBox.str .pjForm .tit {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pjBox.str .pjForm .tit p {
    font-size: 14px;
    font-weight: 700;
}
.pjBox.str .pjForm .tit i {
    color: #f86453;
    padding-left: 5px;
    margin-top: 2px;
}
.pjBox.str .pjForm .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pjBox.str .pjForm h2 {
    font-size: 20px;
    font-weight: 700;
}
.pjBox.str .pjForm .cont {
    margin: 0 54px;
}
.pjBox.str .pjForm .cont p {
    font-size: 13px;
    color: #6d6d6d;
    line-height: 22px;
}
.pjBox.str .pjForm .cont button {
    width: 100%;
    height: 44px;
    border: 0.5px solid #f86453;
    border-radius: 4px;
    background-color: #f86453;
    color: #ffffff;
    font-size: 13px;
    margin-top: 24px;
}
.pjBox .pjInfo #itemList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.pjBox .pjInfo #itemList > div {
    background-color: #ffffff;
    border: .5px solid #ececec;
    border-radius : 4px;
    padding: 24px 28px 24px;
    margin: 0 0 12px;
}

.pjBox .pjInfo #itemList .itmTit {
    font-size: 16px;
    color: #3d3d3d;
    border: none;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}
.pjBox .pjInfo #itemList .itmTit div{
    /*border: .5px solid #ececec;*/
    border: .5px solid #ececec;
    border-radius : 4px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    position: relative;
}
.pjBox .pjInfo #itemList .itmTit div i{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 12px;
    top: 12px;
    margin-left: calc(14.01px/-2);
    margin-top : calc(16.67px/-2);

}
.pjBox .pjInfo #itemList .itmT{
    color : #9e9e9e;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.pjBox .pjInfo #itemList .itmL{
    color : #3d3d3d;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.pjBox .pjInfo #itemList .itmL li{
    position: relative;
}

.pjBox .pjInfo #itemList .itmL li::before{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #212121;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px;
    /*left: -1px;*/
    /* display: block; width, height을 적요하기 위해 block값을 주려했지만 position 값이 absolute, fixed이면 자동으로 block이 되니 생략 가능*/
    margin: auto;
}
.pjBox .pjForm{
    width: 630px; /*양 옆으로 여백 없애고 싶은데...? 어떻게 없애지*/
    padding: 44px 48px 44px;
    /*margin-top: 44px;*/
    margin-bottom: 50px;
    border: .5px solid #ececec;
    box-sizing: border-box;
    height: 100%;
    background-color: #ffffff;
}

.pjBox .pjForm .first .tit{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 12px;
    color: #000000DE;
}
.pjBox .pjForm .first .cont{
    font-size: 14px;
    line-height: 24px;
    color: #6d6d6d;
}
.pjBox .pjForm section {
    padding: 32px 0;
}
.pjBox .pjForm section > p{
    font-size: 12px;
    line-height: 20px;
    font-weight: 500; /*500이 안먹히는건가 ㅠㅠ */
    color: #0d0d0d;
    /*margin: 0 0 10px;*/
}
.pjBox .pjForm section div > p:nth-child(2){
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color : #6d6d6d;
    margin: 4px 0;
}
.pjBox .pjForm section div.inputBx{
    padding: 0 18px;
    margin: 10px 0 8px;
    border: .5px solid #ececec;
    border-radius: 0;
    width: 533px;
    height: 44px;
    background-color: #ffffff;
}
.pjBox .pjForm section div.inputBx input{
    width: 496px;
    height: 42px;
    padding: 11px 0;
    border: none;
}
.pjBox .pjForm section div.inputBx input::placeholder{
    color: #d2d2d2;
}
.pjBox .pjForm section div.inputBx + div{
    text-align: right;
    color : #9e9e9e;
}
.pjBox .pjForm section div.optBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 8px;

}
/*.pjBox .pjForm section div.optBox div{*/
/*    width: 174px;*/
/*    height: 48px;*/
/*    text-align: center;*/
/*    border: .5px solid #ececec;*/
/*    line-height: 48px;*/
/*}*/
/*.pjBox .pjForm section div.optBox div{*/
/*    position: relative;*/
/*}*/
.pjBox .pjForm section div.optBox div input[type=radio]{
    appearance: none;
}

.pjBox .pjForm section div.optBox div label{
    display: inline-block;
    cursor:pointer;
    border: .5px solid #ececec;
    border-radius: 4px;
    width: 165px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #ffffff;

}
.pjBox .pjForm section div.optBox label:hover{
    cursor:pointer;
    border: .5px solid #f86453;
    transition-duration: .5s;
}
.pjBox .pjForm section div.optBox input[type=radio]:checked + label{
    cursor:pointer;
    border: .5px solid #f86453;
}

.pjBox .pjForm div.radio div.txtCont{
    width: 100%;
    height: 78px;
    border: .5px solid #ececec;
    border-radius: 0;
    background-color: #ffffff;
    margin: 10px 0 8px;
    padding: 0 18px;
}
.pjBox .pjForm div.radio #multiResult div {
    width: 100%;
    height: 48px;
    border: .5px solid #ededed;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 11px 4px 11px 15px;
    margin: 8px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pjBox .pjForm div.radio #multiResult div:hover {
    cursor:pointer;
    border : .5px solid #3d3d3d;
    transition-duration: .5s;
}
.pjBox .pjForm div.radio #multiResult div i {
    margin-right: 15px;
    font-size: 10px;
    color: #6d6d6d;
}
.pjBox .pjForm div.radio div.txtCont textarea{
    border: none;
    outline: none;
    resize: none; /*textarea의 우측하단 세줄 표시 없애기*/
    padding: 11px 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal; /*왜 body에 적용한 폰트가 textarea에서는 적용이 안될까*/
    color: #000000DE;
}

.pjBox .pjForm div.radio div.txtCont textarea::placeholder{
    color: #d2d2d2;
}
.pjBox .pjForm div.radio div.txtCont + div > p {
    font-size: 12px;
}
.pjBox .pjForm div.radio div.txtCont + div{
    font-size: 12px;
    text-align: right;
    margin: 10px 0;
}
.pjBox .pjForm div.btnWrap {
    margin: 22px 0 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.pjBox .pjForm div.btnWrap button{
    height: 44px;
    border: .5px solid #ececec;
    background-color: #ffffff;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    font-style: normal; /*왜 body에 적용한 폰트가 textarea에서는 적용이 안될까*/
}
.pjBox .pjForm div.btnWrap button:hover{
    cursor:pointer;
}
.pjBox .pjForm div.btnWrap button.init, .pjBox .pjForm div.btnWrap button.cancel {
    width: 170px;
    margin: 0 10px 0 0;
    color: #3d3d3d;
}
.pjBox .pjForm div.btnWrap button.cancel {
    display: none;
}

.pjBox .pjForm div.btnWrap button.init:hover,
.pjBox .pjForm div.btnWrap button.cancel:hover{
    border : .5px solid #aca0a4;
    transition-duration: .5s;
}
.pjBox .pjForm div.btnWrap button.save, .pjBox .pjForm div.btnWrap button.mod{
    width: 353px;
    background-color: #f86453;
    color:#ffffff;
}
.pjBox .pjForm div.btnWrap button.save:disabled{
    width: 353px;
    background-color: #e4e4e4;
    color: #aca0a4;
    cursor: inherit;
}

.pjBox .pjForm div.btnWrap button.mod{
    display: none;
}
/*.pjBox .pjForm div.btnWrap button.save:enabled{*/
/*    background-color: #f86453;*/
/*    color:#ffffff;*/
/*    transition-duration: .5s;*/
/*}*/

/*선물페이지 css*/
.pjBox .pjInfo #giftList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pjBox .pjInfo #giftList > div {
    background-color: #ffffff;
    border: .5px solid #ececec;
    border-radius : 4px;
    padding: 24px 28px 24px;
    margin: 0 0 12px;
}
.pjBox .pjInfo #giftList > div strong {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 8px;
}

.pjBox .pjInfo #giftList > div > div.giftTit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pjBox .pjInfo #giftList > div > div.giftTit > div{
    width: 24px;
    height: 24px;
    border: .5px solid #ececec;
    border-radius: 4px;
    text-align: center;
}
.pjBox .pjInfo #giftList > div > p.giftT {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
}
.pjBox .pjInfo #giftList > div span {
    display: block;
    font-size: 12px;
    margin: 10px 0 0;
    color: #6d6d6d;
}
.pjBox .pjInfo #giftList > div ul {
    color: #6d6d6d;
}
.pjBox .pjInfo #giftList > div li {
    font-size: 12px;
    padding-left: 5px;
    position: relative;
}
.pjBox .pjInfo #giftList > div li::before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #212121;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px;
    /*left: -1px;*/
    /* display: block; width, height을 적용하기 위해 block값을 주려했지만 position 값이 absolute, fixed이면 자동으로 block이 되니 생략 가능*/
    margin: auto;

}
.pjBox .pjInfo #giftList > div span em {
    font-size: 12px;
    font-weight: 700;
}
.pjBox .pjInfo #giftList div.check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

}
.pjBox .pjInfo #giftList div.check .left{
    font-size: 11px;
    color: #9e9e9e;
}
.pjBox .pjInfo #giftList div.check .left i{
    font-size: 10px;
    padding-right: 3px;
}
.pjBox .pjInfo #giftList div.check .right{
    font-size: 11px;
    padding: 4px 8px;
    color: #F86453;
    border: .5px solid #ffdedb;
    border-radius: 0;
    background-color: #fdf4f3;

}
.pjBox .pjForm section div.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 533px;
    height: 42px;
    padding: 0 18px;
    margin: 11px 0;
    color: #d2d2d2;
    line-height: 42px;
    border: .5px solid #ececec;
    border-radius: 0;

}
.pjBox .pjForm section div.dropdown:hover {
    cursor: pointer;
}
.pjBox .pjForm section div.dropdown.border {
    border: .5px solid #6d6d6d;
}
.pjBox .pjForm section div.dropdown span i{
    font-size: 10px;
    color: #6d6d6d;

}
.pjBox .pjForm section div #itmDropdown {

}
.pjBox .pjForm section div #itmDropdown > div {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: #3d3d3d;
    font-size: 14px;
    border: 1px solid #F0F0F0FF;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 8px,rgba(0, 0, 0, 0.1) 0 1px 0;
    animation: 0.3s ease 0s 1 normal none running fadeDown; /*안먹힘*/
}
.pjBox .pjForm section div #itmDropdown > div ul{
    padding: 34px 20px;
    margin: 0;
}
.pjBox .pjForm section div #itmDropdown li {
    margin: 0 0 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}
.pjBox .pjForm section div #itmDropdown li:last-child {
    margin: 0;
}
.pjBox .pjForm section div #itmDropdown li div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
}
.pjBox .pjForm section div #itmDropdown li div em{
    color: #9e9e9e;
    font-style: normal;
}
.pjBox .pjForm section div #itmDropdown li input[type=checkbox]{
    width: 20px;
    height: 20px;
    accent-color: #f86453;
    border: .5px solid #9e9e9e;
    outline: none;
    margin-right: 8px;
    line-height: 24px;
    /*checkbox는 숨기고 label로 스타일 컨트롤 하는 것으로 바꾸고 싶었는데,
    이 체크박스는 동적으로 생성되는거라 id를 동적으로 생성하기가 조금 난감한 것 같음..*/
}
.pjBox .pjForm section div #itmDropdown div.footer{
    width: 100%;
    padding: 15px 20px;
    margin: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pjBox .pjForm section div #itmDropdown div.footer p{
    color: #757575;
    font-size: 14px;
}
.pjBox .pjForm section div #itmDropdown div.footer button{
    width: 75px;
    height: 32px;
    padding: 0 16px;
    border : none;
    background-color: #f86453;
}
.pjBox .pjForm section div #itmDropdown div.footer button:hover{
    cursor:pointer;
}
.pjBox .pjForm section div #itmDropdown div.footer button p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #ffffff;
}
.pjBox .pjForm #selectItm > div {
    display: flex;
    flex-direction: column;
}
.pjBox .pjForm #selectItm > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
}
.pjBox .pjForm #selectItm > div > div {
    border: 1px solid #ececec;
    width: 533px;
    margin: 10px 0 0;
    padding: 15px 13px 15px 20px;
}
.pjBox .pjForm #selectItm > div > div > div.left > ul > li{
    display: flex;
    flex-direction: column;
}
.pjBox .pjForm #selectItm div.left > ul > li > p:first-child{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0 0 7px;
    color: #000000de;
}
.pjBox .pjForm #selectItm div.left > ul > li > p:nth-child(2){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #6d6d6d;
    margin: 0;
}
.pjBox .pjForm #selectItm div.left > ul > li > ul li.opt{
    font-size: 12px;
    color: #3d3d3d;
    position: relative;
    padding: 3px 5px 3px;
}

.pjBox .pjForm #selectItm div.left > ul > li > ul li.opt::before{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #212121;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px;
    /*left: -1px;*/
    /* display: block; width, height을 적용하기 위해 block값을 주려했지만 position 값이 absolute, fixed이면 자동으로 block이 되니 생략 가능*/
    margin: auto;
}
.pjBox .pjForm #selectItm div.right  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif;
}

.pjBox .pjForm #selectItm div.right > div.qty{
    border: .5px solid #ececec;
    height: 40px;
    margin-right: 10px;
}
/*.pjBox .pjForm #selectItm div.right > div.qty:hover{*/
/*    cursor: pointer;*/
/*}*/
.pjBox .pjForm #selectItm div.right > div.qty > button{
    width: 40px;
    height: 100%;
    padding: 1px 6px 1px;
    background-color: transparent;
    border: none;
}
.pjBox .pjForm #selectItm div.right > div.qty > button:hover{
    cursor: pointer;
}
.pjBox .pjForm #selectItm div.right > div.qty > button:enabled{
    color:#3d3d3d;
}
.pjBox .pjForm #selectItm div.right > div.qty > input{
    width: 22px;
    height: 100%;
    border: none;
    line-height: 40px;
    text-align: center;
}
.pjBox .pjForm #selectItm div.right button.cancel{
    width: 55px;
    height: 40px;
    font-size: 12px;
    color: #3d3d3d;
    background-color: transparent;
    border: .5px solid #ececec;
}
.pjBox .pjForm #selectItm div.right button.cancel:hover{
    cursor: pointer;
}
.pjBox .pjForm  div.limRadio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pjBox .pjForm  div.limRadio > div {
    width: 260px;
    height: 56px;
    border: .5px solid #ececec;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    margin-top: 11px;
    padding: 10px 16px 10px;
    position: relative;
}
.pjBox .pjForm  div.limRadio > div:hover {
    cursor: pointer;
}
.pjBox .pjForm div.limRadio > div > span {
    width: 138px;
    height: 35px;
    border: .5px solid #ececec;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 15px;
    /*justify-content: flex-end;*/
}
.pjBox .pjForm  div.limRadio > div > input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: .5px solid #ececec;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    line-height: 56px;
    left: 5px;


}
.pjBox .pjForm div.limRadio > div > input[type=radio]:checked {
    background-color: #ffffff;
    border: 4px solid #f86453;
    box-shadow: 0 0 0 0.3px #ffffff;

}
.pjBox .pjForm div.limRadio > div > input[type=radio]+label {
    line-height: 56px;
    padding-left: 15px;
}
.pjBox .pjForm div.limRadio > div > span > input{
    border: none;
    outline: none;
    width: 84px;
    height: 34px;
}
.pjBox .pjForm div.limRadio > div > span > div {
    width: 40px;
    height: 34px;
    text-align:center;
    line-height: 34px;
    border-left: .5px solid #ececec;
}
.pjBox .pjForm section div > div.money {
    position: relative;
}
.pjBox .pjForm section div > div.money > div {
    width: 44px;
    height: 44px;
    position : absolute;
    right: 0;
    top: 0;
    line-height: 43px;
    text-align: center;
    border-left: .5px solid #ececec;
    border-radius: 0;
}
.pjBox .pjForm section > p {
    margin: 0 0 10px;
}
.pjBox .pjForm section > div.cal {
    border: 1px solid #ececec;
    padding: 0 22px;
    color: #6d6d6d;
}
.pjBox .pjForm section > div.cal  > div{
    padding: 11px 0;
    height: 44px;
}
.pjBox .pjForm section > div.cal hr {
    border: 0;
    height: .5px;
    background-color: #ececec;
}
.pjBox .pjForm section > div.cal #shipDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
}
.pjBox .pjForm section > div.cal #shipDate > span{
    font-size: 14px;
    color: #ff5757;
    line-height: 22px;
    font-weight: bold;
}
.pjBox .pjForm section > div.cal > div:last-child{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pjBox .pjForm section > div.cal > div > div > div {
    border: .5px solid #ececec;
    width: 146px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 18px;
}
.pjBox .pjForm section > div.cal > div > div > div > input {
    border: none;
    outline: none;
    width: 69px;
    height: 34px;
    /*padding-right: 17px;*/
    text-align: right;
}
.pjBox .pjForm section > div.cal > div > div > div > div {
    border: none;
    border-left: .5px solid #ececec;
    border-radius: 0;
    text-align: center;
    width: 58px;
    height: 36px;
    line-height: 36px;
    background-color: #fcfcfc;
    right: 0;
    top: 0;
}
.pjBox .pjForm p.notice {
    margin: 8px 0 0;
    font-size: 12px;
    color: #ff5757;
    font-weight: 400;
}




