:root{
    --main-bg-color: #5060D6;
}

/*공통*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#header {
    text-align: center;
    padding: 15px ;
    font-size: 25px;
    font-family: Georgia, serif;
    /*position: fixed;*/
    /*border: 1px solid red;*/
}

#main{
    margin-top: 2.5%;
    /*margin: 0 auto;*/
}

.line > span::before {
    right: 100%;
}

 .line > span::before, .line > span::after {
     content: "";
     position: absolute;
     border-bottom: 1px solid rgb(240, 240, 240);
     top: 50%;
     width: 5000px;
 }

body{

}

.mainWrap{
    border: 1px solid rgb(228, 228, 228);
    /*display: flex;*/
    margin : 0 auto;
    flex-direction: column;
    align-items: center;
    width: 340px;
    padding: 30px;
    border-radius: 16px;
}

.line{
    /*content: "";*/
    /*position: absolute;*/
    border-bottom: 1px solid rgb(228, 228, 228);
    /*left: 0px;*/
    /*padding: 10px;*/
    /*top: 50%;*/
    /*width: 5000px;*/
    padding: 10px 0px;
    overflow: hidden;
    text-align: center;
}

.kakaBtn{
    /*position: relative;*/
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0px 18px;
    background-color: rgb(254, 229, 0);
    border: none;
    outline: none;
    border-radius: 1px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(25, 25, 25);
    margin-top: 10px;
}

.joinBtn {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0px 18px;
    /*background-color: #a0dadc;*/
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 1px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

/* Input Styles */
input{
    outline-color: var(--main-bg-color);
}

input[type=text] ,input[type=email] ,input[type=password] {
    display: block;
    width: 100%;
    height: 40px; /* 입력 필드의 높이를 조절하세요 */
    margin: 20px 0;
    padding: 0 10px;
    border: 1px solid #ddd; /* 입력 필드 주위의 보더를 부드러운 회색으로 변경하세요 */
    border-radius: 5px; /* 입력 필드의 라운드 처리를 추가하여 부드러운 느낌을 줄 수 있습니다 */
    font-size: 14px;
    transition: border-color 0.3s; /* 포커스 시 보더 색상 변화를 부드럽게 만듭니다 */
}

button {
    border: 1px solid purple;
    cursor: pointer;
}

.msg{
    color: red;
    font-size: 14px;
}

h2{
    margin: 20px 0 40px 0;
    font-size: 20px;
    font-weight: bold;
}

h3{
    margin: 10px 0;
    font-size: 16px;
}

 input[type=checkbox]{
    margin : 10px 0 10px 0 ;
}

.joinBtn:hover{
    background-color: #6677F7; /* 호버 시 배경색을 변경하세요 */
    color: white; /* 호버 시 텍스트 색상을 변경하세요 */
}

.kakaBtn:hover  {
    /*background-color: #fdd835; !* 호버 시 배경색을 변경하세요 *!*/
    /*color: #222; !* 호버 시 텍스트 색상을 변경하세요 *!*/
}


/* CenterDiv Styles */
.centerDiv {
    text-align: center;
    margin-top: 20px; /* 원하는 여백 값으로 변경하세요 */
}

.centerDiv p {
    font-size: 14px;
    color: #666; /* 텍스트 컬러를 변경하세요 */
    margin-bottom: 10px;
}

.emailView {
    display: flex;
}

.emailView > button{
    width: 100px;
}

.agrLine > a, .singleChk >a, .selectChk >a {
    /*display: float;*/
    float: right;
    font-size: 12px;
    color: rgb(39, 163, 255);
    text-decoration: underline;
}

.centerDiv >a{
    font-size: 12px;
    color: rgb(39, 163, 255);
    text-decoration: underline;
}

#all{
    font-size: 15px;
    font-weight: bold;
    /*font-family: "Inter Semi Bold";*/
}

.single{
    font-size: 12px;
}

/* pwd eye */

.usPwd, .usPwd2 {
    position: relative;
    /*display: inline-block;*/
    /*align-items: center;*/
}

.usPwd input[type="password"], .usPwd input[type="text"] {
    padding-right: 30px;
}

.password-toggle {
    position: absolute;
    /*top : 50%;*/
    right: 5px;
    /*transform: translateY(-50%);*/
    transform: translateY(-190%);
    cursor: pointer;


    width: 30px;
    height: 30px;
    margin-left: 20px;
    background: url(../img/Icon-private.png) no-repeat center center;
    background-size: cover;
}