/*공통*/
* {
    margin: 0;
    padding: 0;
}
li {
    list-style-position: inside;
    padding-top: 3px;
}
a {
    display: block;
    color: deepskyblue;
}
i {
    font-style: normal;
}

/* 헤더 */
.headerContainer {
    border-bottom: 1px solid rgb(240, 240, 240);
    box-shadow: 0 0.1px 1px 0 rgb(222, 222, 222);
}
.header {
    width: 100%;
    height : 65px;
    /*margin-top: 10px;*/
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}
.orderTitle {
    padding : 20px;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif;
    font-size: 16px;
    /*font-weight: bold;*/
    letter-spacing: -0.32px;
}
.logo {
    width: 90px;
}

/* main */

/* pj */
.main {
    max-width: 1160px;
    margin: 0 auto;
}
.pjContainer {
    height: 114px;
    display: flex;
    column-gap: 1.5em;
    padding-top:25px;
}
.pjTit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 0.2em;
}
.thum img {
    width:152px;
}
.ctg {
    color: gray;
    font-size: small;
}
.pjTitle {
    font-size: x-large;
}
.fundNum {
    display: flex;
    gap: 1em;
    font-size: small;
}
.fundMoney {
    font-weight: bold;
}
.per {
    color: red;
    font-weight: lighter;
}

/* order */

.Info {
    font-weight: bold;
    padding-bottom: 10px;
}
.orderWrap {
    height: 1360px;
    display: flex;
    padding-top: 25px;
}
.orderLeft {
    width:1160px;
}
.orderContainer {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* gift */
.giftPack, .giftMoney, .phoneNo, .email {
    display: flex;
    gap: 4em;
}
.giftPackCont {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.giftDeliver {
    display: flex;
    gap: 0.5em;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(241, 239, 239);
    width: 160px;
    justify-content: center;
    font-size: 0.9em;
}
/* 후원 */
.buyerNotice {
    color: gray;
    font-size: small;
    margin-top: 15px;
}
/* 배송지 */
.adrBoxConts {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.adrDetailConts {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.adr, .adrPhoneNo {
    color: gray;
    font-size: 14px;
}
.buyerBasic {
    display: flex;
    gap: 5px;
    align-items: center;
}
.basicMark {
    background-color: #ff4f4f;
    color: #fff;
    padding: 2px 7px;
    width: 20px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

/* 공통 Box,Btn */
.Box {
    width: 670px;
    box-sizing: border-box;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
}
.boxConts {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payBox {
    width: 670px;
    box-sizing: border-box;
    border-top: none;
    border-left: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
}
.adrBtn, .payBtn {
    margin-left: auto;
}
.ChangeBtn {
    font-size: small;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 25px;
    outline: none;
    background-color: inherit ;
    padding:7px 12px;
    cursor: pointer;
}
div .ChangeBtn:hover {
    background-color: rgb(225, 225, 225);
}

/* pay */
.rdoWrap {
    display: flex;
    gap: 40px;
}
.payIcon {
    width: 14px;
}
.payTopNotice {
    display: flex;
    align-items: center;
    gap: 10px;
}
.basicPayMark {
    background-color: #f3f3f3;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    margin-left: -35px;
}
.creditImg img {
    width: 200px;
}
.payCredit {
    display: flex;
    gap: 20px;
}
.payBtn {
    margin-right: auto;
}

/*!*.rdoBox label{*!*/
/*    padding-left: 20px;*/
/*    line-height: 30px;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*}*/
/*.rdoBox{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*}*/
/*.rdoBox>input.ipt{*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: calc(50% - 8px);*/
/*    background: none;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*    z-index: 1;*/
/*}*/
/*.rdoBox:before{*/
/*    content: "";*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: calc(50% - 8px);*/
/*    display: block;*/
/*    background-position: 0px 0px;*/
/*}*/
/*.chkBox.on:before{*/
/*    background-position: 0px -16px;*/
/*}*/
/*.rdoBox:before{*/
/*    background-position: 0px -32px;*/
/*}*/
/*.rdoBox.on:before{*/
/*    background-position: 0px -48px;*/
/*}*/

/*form>div.rdoWrap{*/
/*    margin-bottom: 20px;*/
/*}*/
/*form>div.rdoWrap>div,*/
/*form>div.chkWrap>div{*/
/*    margin-right: 50px;*/
/*    color: #000;*/
/*    font-size: 1rem;*/
/*}*/
/*form>div.rdoWrap input,*/
/*form>div.chkWrap input{*/
/*    margin-right: 5px;*/
/*}*/

/* total */

.totalContainer {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.totalBox {
    /*width: 670px;*/
    box-sizing: border-box;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
}
.totalBoxConts {
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.totalName {
    color: #ff4f4f;
    font-weight: bold;
}
.totalMoney {
    margin-left: auto;
}
.totalNotice {
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}
.agree1, .agree2 {
    display: flex;
    gap: 10px;
}
.agreeLast {
    margin-left: auto;
}
.orderBtn {
    padding: 15px;
    width: 469px;
    background-color: #ff4f4f;
    color: #fff;
    border:none;
    font-size: 1.1em;
}