/*공통*/
* {
    margin: 0;
    padding: 0;
}
li {
    list-style-position: inside;
    padding-top: 3px;
}
a {
    display: block;
    color: deepskyblue;
}
i {
    font-style: normal;
}
button {
    cursor: pointer;
}

/* 헤더 */
.headerContainer {
    border-bottom: 1px solid rgb(240, 240, 240);
    box-shadow: 0 0.1px 1px 0 rgb(222, 222, 222);
}
.header {
    width: 100%;
    height : 65px;
    /*margin-top: 10px;*/
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}
.orderTitle {
    padding : 20px;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif;
    font-size: 16px;
    /*font-weight: bold;*/
    letter-spacing: -0.32px;
}
.logo {
    width: 90px;
}

/* main */

/* pj */
.main {
    max-width: 1160px;
    margin: 0 auto;
}
.pjContainer {
    height: 114px;
    display: flex;
    column-gap: 1.5em;
    padding-top:25px;
}
.pjTit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 0.2em;
}
.thum img {
    width:152px;
}
.ctg {
    color: gray;
    font-size: small;
}
.pjTitle {
    font-size: x-large;
}
.fundNum {
    display: flex;
    gap: 1em;
    font-size: small;
}
.fundMoney {
    font-weight: bold;
}
.per {
    color: red;
    font-weight: lighter;
}

/* order */
.Info {
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 16px;
    align-items: center;
    line-height: 27px;
    letter-spacing: -0.02em;
}
.orderWrap {
    height: 1360px;
    display: flex;
    padding-top: 25px;
}
.orderLeft {
    width:1160px;
}
.orderContainer {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* gift */
.giftPack, .giftMoney, .phoneNo, .email {
    display: flex;
    gap: 4em;
}
.giftPackCont {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.giftDeliver {
    display: flex;
    gap: 0.5em;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(241, 239, 239);
    width: 160px;
    justify-content: center;
    font-size: 0.9em;
}
/* 후원 */
.buyerNotice {
    color: gray;
    font-size: small;
    margin-top: 15px;
}
/* 배송지 */
.adrBoxConts {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.adrDetailConts {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.adr, .adrPhoneNo {
    color: gray;
    font-size: 14px;
}
.buyerBasic {
    display: flex;
    gap: 5px;
    align-items: center;
}
.basicMark {
    min-height: 18px;
    padding: 0px 6px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.005em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(255, 87, 87);
    margin: 0 2px 0 2px;
}

/* 공통 Box,Btn */
.Box {
    width: 670px;
    box-sizing: border-box;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
}
.boxConts {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.adrBtn, .payBtn {
    margin-left: auto;
}
.popupBtn {
    font-size: small;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 25px;
    outline: none;
    background-color: inherit ;
    padding: 7px 12px;
    color: #3d3d3d;
}
div .popupBtn:hover {
    background-color: rgb(225, 225, 225);
}

/*!*.rdoBox label{*!*/
/*    padding-left: 20px;*/
/*    line-height: 30px;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*}*/
/*.rdoBox{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*}*/
/*.rdoBox>input.ipt{*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: calc(50% - 8px);*/
/*    background: none;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*    z-index: 1;*/
/*}*/
/*.rdoBox:before{*/
/*    content: "";*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: calc(50% - 8px);*/
/*    display: block;*/
/*    background-position: 0px 0px;*/
/*}*/
/*.chkBox.on:before{*/
/*    background-position: 0px -16px;*/
/*}*/
/*.rdoBox:before{*/
/*    background-position: 0px -32px;*/
/*}*/
/*.rdoBox.on:before{*/
/*    background-position: 0px -48px;*/
/*}*/

/*form>div.rdoWrap{*/
/*    margin-bottom: 20px;*/
/*}*/
/*form>div.rdoWrap>div,*/
/*form>div.chkWrap>div{*/
/*    margin-right: 50px;*/
/*    color: #000;*/
/*    font-size: 1rem;*/
/*}*/
/*form>div.rdoWrap input,*/
/*form>div.chkWrap input{*/
/*    margin-right: 5px;*/
/*}*/

/* total */
.totalContainer {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.totalBox {
    /*width: 670px;*/
    box-sizing: border-box;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
}
.totalBoxConts {
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.totalName {
    color: #ff4f4f;
    font-weight: bold;
}
.totalMoney {
    margin-left: auto;
}
.totalNotice {
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}
.agree1, .agree2 {
    display: flex;
    gap: 10px;
}
.agreeLast {
    margin-left: auto;
}
.orderBtn {
    padding: 15px;
    width: 469px;
    background-color: #ff4f4f;
    color: #fff;
    border:none;
    font-size: 1.1em;
}

/*pay*/
.orderPageFontStyle {
    font-family: 'Noto Sans KR', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
}
.payContainer {
    padding-bottom: 20px;
}
.rdoSelectorWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 20px;
}
.rdoListElemWrapper {
    border-bottom: none;
    padding: 0px;
    display: flex;
}
.rdoListElem {
    width: 100%;
}
.rdoListElemLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.rdoSelectorOption {
    padding: 0px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.rdoSelectorOptionTag {
    display: flex;
    padding: 1px 4px;
    height: 18px;
    align-items: center;
    border-radius: 4px;
    background: rgb(240, 240, 240);
    font: 400 10px / 18px "Noto Sans KR";
    color: rgb(61, 61, 61);
}
.cardListElemContainer {
    border-top: 1px solid rgb(230, 230, 230);
}
.cardListElemWrapper {
    position: relative;
    display: flex;
    width: 95%;
    align-items: flex-start;
    min-height: 90px;
    flex-direction: column;
}
.cardListElem {
    width: 100%;
    padding: 16px;
}
.payNoticeBannerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 8px 12px;
    margin-bottom: 16px;
    background: rgb(243, 250, 255);
    font: 400 13px / 22px "Noto Sans KR";
    color: rgb(61, 61, 61);
}
.payNoticeBanner {
    display: flex;
    gap: 5.88px;
    font: 400 13px / 22px "Noto Sans KR";
    color: rgb(61, 61, 61);
}
.payNoticeBannerIcon {
    align-self: flex-start;
    font-size: 14.25px;
    display: inline-flex;
}
.payNoticeBannerIcon svg {
    margin-top: 3px;
    fill: rgb(55, 165, 247);
    width: 1em;
    height: 1em;
}
.payRegBtn {
    background: rgb(255, 255, 255);
}
.cardInfoWrapper {
    display: flex;
}
.cardImg {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    width: 85px;
    height: 54px;
}
.imgBox {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    width: 80px;
    height: 95%;
    border: 1px solid rgb(230, 230, 230);
}
.cardContentWrapper {
    flex-grow: 1;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 10px;
}
.cardContent {
    position: relative;
}
.cardContentTitle {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.02em;
    font-weight: 700;
}
.cardDefaultTag {
    position: relative;
    z-index: 1;
    top: -0.3em;
}
.cardContentNumber {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #3d3d3d;
}
.payChangeBtn {
    position: absolute;
    top: 50%;
    right: 5px;
    display: inline-flex;
}
.cardInstallWrapper {
    width: 100%;
    padding: 0px 16px 16px;
}
.cardInstall {
    padding: 16px;
    background-color: rgb(252, 252, 252);
}
.cardInstallMonthTitle {
    margin-bottom: 10px;
    font: 700 12px / 20px "Noto Sans KR";
}
.cardInstallMonthSelection {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
    font: 400 14px / 24px "Noto Sans KR";
}
.monthContentSelectWrapper {
    max-width: 360px;
    width: 100%;
}
.monthContentSelect {
    position: relative;
}
.monthSelectInputWrapper {
    padding: 0px 18px;
    background: rgba(240, 240, 240, 0.7);
    border: 1px solid rgb(228, 228, 228);
    color: rgb(61, 61, 61);
    max-height: 44px;
    min-width: 100px;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    align-items: center;
    border-radius: 1px;
}
.inputInner {
    width: 100%;
    background: transparent;
    border: 0px;
    padding: 11px 0px;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    margin: 0px;
}
.arrowDownIcon {
    font-size: 10px;
    display: inline-flex;
    align-self: center;
    color: rgb(61, 61, 61);
}
.arrowDownIcon svg {
    fill: rgb(158, 158, 158);
    width: 1em;
    height: 1em;
}
.guideBtn {
    background: transparent;
    border: 0px;
    padding: 0px;
    color: rgb(39, 163, 255);
    font-weight: normal;
    text-decoration: underline;
}
.cardInstallDescription {
    font: 700 14px / 22px "Noto Sans KR";
}
.defaultPayCheckboxWrapper {
    padding: 0px 16px 16px;
}
.defaultPayCheckbox {
    padding: 16px;
    background-color: rgb(252, 252, 252);
    display: flex;
}
.updateDefaultBtnLabel {
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
#updateDefaultCheckbox {
    margin-right: 10px;
}
.emptyList {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 60px;
}
.emptyList span {
    display: inline-flex;
    font-size: 16px;
    line-height: 27px;
    color: rgb(109, 109, 109);
}