::selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}

/* 공통 */
#likesMain{
    width: 100%;
    max-width: 1160px;
    height:1600px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    padding: 48px 0 28px 0;
}

/* main */

.projectListWithCard{
    width: 1160px;
    font-size: 14px;
    line-height: 24px;
}

.projectCardWrap {
    max-width: 1160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px 34px;
}

.projectCardWrap .cardWrap {
    width: 100%; /* 한 줄에 4개씩 배치되므로 너비를 25%로 설정하고 간격빼기 */
    display: flex;
    position: relative;
}

.detailTxt {
    width: 264px;
    height : 140px;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}

.mnBan .banImg.after {
    width: 264px;
    height: 226px;
    position: relative;

}

.mnBan .banImg.after img {
    width: 264px;
    height: 226px;
    object-fit: cover;
}

.banTxt .subTit {
    /*height:40px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.subTxt > span {
    font-size: 14px;
}

.subTit > a {
    color: black;
    font-size: 17px;
    line-height: 24px;
}

.subDt > a {
    padding-top : 7px;
    width: 100%;
    height:42px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 48px;
    word-break: keep-all;
    color: rgb(158, 158, 158);
    font-size: 13px;
    line-height: 21px;

}

.psTag {
    margin-top : auto;
    display: flex;
    justify-content: space-between;
}

.per{
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 87, 87);
}

.won{
    margin-left: 4px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: rgb(61, 61, 61);
}

.day{
    margin-left: auto;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(109, 109, 109);
    font-weight: 700;
}

.percentBar{
    width: 100%;
    /*display: block;*/
    height:  3px;
    background: rgb(255, 87, 87);
}

/* tap  */

.likesTap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*margin: 0px 32px 0px 0px;*/
    flex: 0 0 auto;
    box-sizing: border-box;
}

.stateCombo{
    padding: 14px 0px 24px 0px;
    display: flex;
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

.stateList {
    /*margin-right: auto;*/
}

.orderList {
    /*margin-right: auto;*/
}

.stateList, .orderList{
    display: flex;
    position: relative;
    /*height: 25px;*/
    /*width: 70px;*/
    /*padding: 10px 10px 10px 0;*/
    cursor:pointer;
    /*border: 1px solid black;*/
}

.upDown{
    width: 20px;
    height: 20px;
    background: url(../../img/Icon-arrowdown.png) no-repeat center center;
    background-size: cover;
}

.upDown2{
    width: 20px;
    height: 20px;
    background: url(../../img/Icon-arrowdown.png) no-repeat center center;
    background-size: cover;
}

.likesCnt{
    color: rgb(160, 155, 155);
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.32px;
}

.likeState{
    display: none;
    flex-direction: column;
    top: 28px;
    width: 90px;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1200;
    padding: 10px 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
}

.stateItem:hover, .stateOrderbyItem:hover{
    background: rgba(110, 110, 110, 0.1);
}

.stateItem , .stateOrderbyItem{
    margin-bottom: 10px;
    padding-left: 10px;
}

.stateOrderby{
    flex-direction: column;
    top: 28px;
    display: none;
    /*left: 0px;*/
    width: 110px;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1200;
    padding: 10px 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
    position: absolute;
    right: 0;
}
