/* 설정값 틀 */
.accountSetting{
    font-size: 14px;
    line-height: 27px;
    /*letter-spacing: -0.020em;*/
    /*display: flex;*/
    /*margin: 12px 0px ;*/
    padding: 12px 0px;
    background: #FFF;
    color: #3d3d3d;
    border-bottom: 1px solid rgb(240, 240, 240);
}


.checkIcon{
    margin: auto 0;
}

/* email */
.mailChkeckV{
    color: rgb(0, 200, 142);
    display: flex;
}

.mailChkeckV svg{
    margin: 0px 6px 0px 0px;
    fill: rgb(0, 200, 142);
    width: 1em;
    height: 1em;
}

/* pwd */
.pTagDetailPwd{
    display: none;
    gap: 10px;
}
.userNowPwdDetail{
    /*display: flex;*/
}

.pwdFont{
    margin : 0px 0px 10px
}

.chaPwdMarginWrap {

    width: 328px;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(13, 13, 13);
    background: rgb(255, 255, 255);
    padding: 0px 12px;
    max-height: 44px;
    min-width: 100px;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1px;
}

.txtInput {
    width: 100%;
    background: transparent;
    border: 0px;
    padding: 11px 0px;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    /*margin: 0px;*/
    appearance: none !important;
}

.chaPwdWrap{
    margin: 30px 0px 0px;
}

.pwdInit > a {
    display: inline-block;
    /*text-decoration: none;*/
    /*color:inherit;*/
    color: rgb(39, 163, 255);
    text-decoration: underline;
}

.chaPwdmargin{

    margin-top: 12px;
}


.userNowPwdDetail{
    font-family: 'Noto Sans KR', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    /*letter-spacing: -0.015em;*/
    font-weight: 400;
}

.userChaPwdDetail{
    display: block;
}

/* phone */
.pTagDetailPhoneNo{
    display: none;
}

.phoneChkeckV{
    color: rgb(0, 200, 142);
    display: flex;
}

.phoneChkeckV svg {
    margin: 0px 6px 0px 0px;
    fill: rgb(0, 200, 142);
    width: 1em;
    height: 1em;
}