::selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}


/*!* line *!*/
/*.line{*/
/*    width: 100%;*/
/*    !* width: 5000px; *!*/
/*    height: 1px;*/
/*    background: rgb(240, 240, 240);*/
/*    !* background: #555353; *!*/
/*    content: " ";*/
/*}*/

.userSetting{
    border-bottom: 1px solid rgb(240, 240, 240);
}

/*공통*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.main{
    margin-top: 2.5%;
    height: 760px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    padding: 48px 0 28px 0;
}

/* font */
.fontcolor{
    color: rgb(160, 155, 155);
    font-size: 18px;
}

/* main */
.main-container {
    display: flex;
    justify-content: center;
}



.tapContainerList{
    display: inline-flex;
    /*margin: 20px 10px;*/
}

.tapContainerList >div{
    margin: 0 30px 0 0;
}

/* tap  */
.tapItem{
    margin-right: 20px;
    /* color: #ccc; */
    font-weight: 700;
    line-height: 56px;
    position: relative;
    background: none;
    border: 0;
}

.tapItem:hover{
    color: #555353;
}

.tapItem > a {
    text-decoration: none;
    color:inherit;
}

.tapItem .fontcolor.on::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #cf1212;
}

/* container */
.container{
    width: 672px;
    margin: 0px 32px 0px 0px;
    flex: 0 0 auto;

    box-sizing: border-box;
}

.containerSet > div{
    border-bottom: 1px solid rgb(230, 230, 230);
    margin: 10px 0px 16px;
}

.container div{
    padding: 0px 0px 10px;
}

.profileimg{
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.020em;
    /*display: flex;*/
    margin: 0px 0px 12px;
}

.flexOnly{
    display: flex;
}

.tapContainerMain{
    padding: 24px 0px;
}

.pTag{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    -webkit-box-flex: 1;
    flex-grow: 1;

    margin: 0;
    padding: 0;
}

.ButtonTag{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    padding: 0px 16px;
    background: rgb(240, 240, 240);
    border: none;
    border-radius: 60px;
    font-weight: 500;
    color: rgb(61, 61, 61);
    font-size: 12px ;
    line-height: 20px ;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif ;
    cursor: pointer;
}

.proImg{
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-weight: normal;
    width: 64px;
    height: 64px;
    font-size: 26px;
    letter-spacing: -1.56px;
    position: relative;
}

.proImgWrap{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: rgb(208, 208, 208) 0px 0px 1px 0px inset, rgb(208, 208, 208) 0px 0px 1px 0px;
}

.proImgFile{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background: url(../../img/avatar.webp) 50% 37% / cover no-repeat;
}

.userName{
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #FFF;
    color: #3d3d3d;
}












/* 오른쪽 컨테이너 값 */
.userInfoComment{
    border-radius: 4px;
    border: 1px solid rgb(230, 230, 230);
    margin: 0px;
    padding: 20px 24px;
}

.userInfoComment p{
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    margin: 0px 0px 8px;
    /*letter-spacing: -0.020em;*/
}

.userInfoCommentContent{
    font-size: 13px;
    line-height: 20px;
    /*letter-spacing: -0.015em;*/
    color: #6D6D6D;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
}

.userInfoCommentContent span{
    cursor: pointer;
    font-weight: normal;
    box-sizing: inherit;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #6D6D6D;
}

.userInfoCommentContent>span>a{
    color: rgb(39, 163, 255);
    text-decoration: underline;
}

/*.pageComponent{*/
/*    margin: 0 auto;*/
/*}*/

/*.ifImg > span {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    display: inline-block;*/
/*    background: url(../img/avatar.webp) no-repeat center center;*/
/*    background-size: cover;*/
/*    border-radius: 50%;*/
/*    box-shadow: rgb(208, 208, 208) 0px 0px 1px 0px inset,*/
/*    rgb(208, 208, 208) 0px 0px 1px 0px;*/
/*}*/


/*.profileInfo{*/
/*    display: flex;*/
/*    padding: 40px 0 0 ;*/
/*}*/

/*.userInfoDetail{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.userInfo{*/
/*    display: flex;*/
/*    margin-left: 25px;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

/*.username{*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*}*/

/*.userInfoDetail > span {*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    display: inline-block;*/
/*    background: url(../img/Icon-settings.png) no-repeat center center;*/
/*    background-size: cover;*/
/*    border-radius: 50%;*/
/*    margin: 5px 5px;*/
/*}*/

/*.userJoindate{*/
/*    font-size: 12px;*/
/*    color: rgb(109, 109, 109);*/
/*}*/


/*!* container *!*/
/*.container{*/
/*    height: 150px;*/
/*    margin-top: 30px;*/
/*}*/

/*.on::after {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 3px;*/
/*    !* position: absolute; *!*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    background: #000;*/
/*}*/
