::selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}

/* header */

.infoGr{
    position: relative;
}

.MyPageList{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 50px;
    right: 0px;
    width: 240px;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1200;
    padding: 10px 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.userIf{
    z-index: 100;
}

.pageItem {
    padding: 4px 16px;
    display: flex;
    width: 100%;
    height: 46px;
    min-height: 46px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 22px;
    color: rgb(13, 13, 13);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.pageItem:hover {
    background: rgba(110, 110, 110, 0.1);
}

.line{
    display: flex;
    width: 100%;
    height: 1px;
    background: rgb(240, 240, 240);
    content: " ";
}

/* header end */

.header {
    /*width: 100%;*/
    /*height: 1px;*/
    /*background: rgb(240, 240, 240);*/
    /*content: " ";*/
    border-bottom: 1px solid rgb(240, 240, 240);
}

/* font */
.fontcolor{
    color: rgb(160, 155, 155);
    font-size: 18px;
}

.infoGr{
    padding: 5px;
}

/* line */
.line{
    width: 100%;
    /* width: 5000px; */
    height: 1px;
    background: rgb(240, 240, 240);
    /* background: #555353; */
    content: " ";
}

/* main */
.main-container {
    display: flex;
    justify-content: center;
}

.menu{
    position: relative;
    height: 210px;
    display: flex;
    margin-bottom: 30px;
}

.main, .footer, .company, .noticeMsg{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

/* footer */

.footer{
    font-size: 12px;
    margin-bottom: 0;
}


.infoList {
    display: flex;
}

.infoList>div{
    font-weight: bold;
    font-size: 16px;
}

.infoList>a{
    color:inherit;
    text-decoration: none;
}

.customerInfo{
    position: absolute;
    right: 0;
}

.customerInfo>div{
    font-weight: bold;
    font-size: 16px;
}

.customerInfo>p{
    margin-top: 10px;
    font-size: 15px;
    color: rgb(109, 109, 109);

}

.infoItem, .customerInfo{
    margin: 20px 40px 0 0;
}

.infoItem >a{
    margin-top: 20px;
    font-size: 14px;
    color: rgb(109, 109, 109);
}

.infoItem>a:hover{
    color: rgb(34, 33, 33);
}

.chat{
    margin-top: 10px;
    display: flex;
    width: 180px;
    height: 42px;
    font-size: 14px;
    line-height: 22px;
    color: rgb(61, 61, 61);
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    font-weight: 500;
}

.chat:hover{
    border: 1px solid rgb(109, 109, 109);
    color: rgb(61, 61, 61);
}

/* footer companyInfo */

.companyInfo{
    margin: 10px 0 ;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    place-content: flex-start;
}

.companyInfoItem{
    padding-right: 15px;
}

.padding0 {
    padding-left: 0px;

}

.copyright{
    padding-left: 15px;
    color: gray;
}

/* footer notice */
.notice{
    display: flex;
    justify-content: center;
    background: rgb(240, 240, 240);
    color: rgb(109, 109, 109);
    /* align-items: center; */
}

/* footer line */
.footer{
    border-top:1px solid rgb(228, 228, 228);
}