/*공통*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    display: block;
}
i {
    font-style: normal;
}
.ell{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: inherit;
}
.ell.line2{
    white-space: normal !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    word-wrap: break-word !important;
}

/* 영역 보이게  만들기 */
.space {
    width: 100%;
    height: 200px;
}

/* 배너 묶음 */
.coNt {
    max-width: 1160px;
    margin: 0 auto;
    padding: 48px 0px;
    display: flex;
    position: relative;
}
.coNt::before,
.coNt::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #f2f4f6;
    transform: translateX(-50%);
    z-index: 1;
}
.coNt::after {
    content: '';
    top: unset;
    bottom: 0;
}

/* 왼쪽 큰 배너 */
.coNt .lFt {
    margin-right: 60px;
}
.coNt .bigBan {
    width: 300px;
    height: 300px;
}
.coNt .bigBan img {
    width: 300px;
    height: 300px;
}
.coNt .txtInfo .txTb {
    padding-bottom: 12px;
    color: #0D0D0D;
    font-size: 20px;
    font-weight: 700;
}
.coNt .txtInfo .deSc {
    margin-bottom: 24px;
    color: #333;
    font-size: 14px;
}
.coNt .linkView {
    padding: 12px 20px;
    color: #0D0D0D;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    border-radius: 60px;
    border: 1px solid #BDBDBD;
    cursor: pointer;
}
.coNt .linkView:hover {
    color: #343a40;
    background-color: #f2f4f6;
    border-color: #adb5bd;
}
.coNt .linkView img {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    font-size: 0px;
}

/* 오른쪽 배너 묶음 */
.coNt .rGt .gRd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 26px;
}
.coNt .mnBan {
    position: relative;
}
.coNt .mnBan .banImg {
    width: 180px;
    height: 140px;
}
.coNt .mnBan .banImg a {
    width: 100%;
    height: 100%;
    color: #333;
    background-size: cover;
    transition: 0.3s ease;
}
.coNt .mnBan .banImg a:hover {
    box-shadow: 5px 5px 10px #ddd;
    transform: scale(1.1);
}
.coNt .mnBan .banImg img {
    width: 180px;
    height: 140px;
}
/*하트처리 미완성*/
.coNt .faLike {
    position: relative;
}
.coNt .likeBtn {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    border: 0;
    overflow: hidden;
}
.coNt .likeBtn::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/whht.png) 0px 0px / cover no-repeat;
}
/*작은 배너 css*/
.coNt .banTxt {
    padding-top: 15px;
}
.coNt .banTxt .txtGr {
    width: 100%;
    font-size: 11px;
}
.coNt .banTxt .subTxt {
    margin-bottom: 5px;
    cursor: pointer;
}
.coNt .banTxt .subTxt a {
    color: #6D6D5B;
    display: inline;
}
.coNt .banTxt .subTxt a:hover {
    text-decoration: underline;
}
.coNt .banTxt .subTxt .bar {
    position: relative;
    padding-left: 10px;
}
.coNt .banTxt .subTxt .bar::before {
    content: '';
    width: 1px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 2px;
    background-color: #D0D0D0;
}
.coNt .banTxt .subTit {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.015em;
}
.coNt .banTxt .subTit a {
    color: #333;
}
.coNt .banTxt .pstTag span {
    color: #FF5757;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
}

/* 선물 상세페이지 */
.gftCont {
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
}
.gftItr {
    width: 1032px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.gftItr .itrBox {
    margin: 0 auto;
    padding: 16px;
}
.gftCate {
    padding: 8px;
    color: #757575;
    font-size: 12px;
    font-weight: 600;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    border-radius: 2px;
}
.titBox {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titBox .itrTit {
    text-align: center;
}
.titBox .itrTit a {
    display: inline;
}
.titBox .itrTit h1 {
    margin-top: 20px;
    font-size: 40px;
}
.itrGr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itrGr .imgslide {
    min-width: 600px;
    height: 500px;/*임시*/
    text-align: center;
    border: 1px solid red;
    box-sizing: border-box;
}
.itrGr .itrGoal {
    width: 100%;
    padding-left: 60px;
}
.itrGoal .itrStt {
    width: 100%;
    min-height: 280px;
    margin-bottom: 8px;
}
.itrStt .sttElm {
    margin-bottom: 20px;
}
.itrStt .sttElm .elmTit {
    margin-bottom: 5px;
    font-size: 14px;
}
.itrStt .sttElm .elmBox {
    letter-spacing: 0.5px;
    display: flex;
    align-items: baseline;
}
.itrStt .sttElm .elmBox .val {
    margin-left: 10px;
    font-size: 38px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: baseline;
}
.itrStt .sttElm .elmBox .val .sMall {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.itrStt .sttElm .elmBox .valPct {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.itrFund {
    margin-bottom: 15px;
    padding: 20px 0px 10px;
    border-top: 1px solid #E4E4E4;
}
.itrFund dl {
    display: flex;
}
.itrFund dt {
    width: 56px;
    margin-right: 20px;
    color: #3d3d3d;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}
.btnWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnWrap .likeBtn {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    cursor: pointer;
}
.btnWrap .likeBtn .btnIco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}
.btnWrap .likeBtn .btnIco span {
    margin-top: 5px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    display: block;
}
.btnWrap .ordBtn {
    width: calc(100% - 60px);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    background-color: #3d3d3d;
    border: 0;
}

/* 상세페이지_Tab */
.tabNavi {
    height: 56px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
}
.tabCont {
    width: 1160px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tabCont .tabBox {
    width: 620px;
}
.tabCont .gftInfo {
    width: 340px;
    padding-top: 25px;
}
.tabCont .gftInfo .crtInfo {
    border: 1px solid #efefef;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px;
}
.tabCont .gftInfo .crtInfo .crtBox {
    padding: 20px 16px;
}

.tabCont .gftInfo .crtInfo .crtBox .btnWrap {
    margin-top: 20px;
}
.tabCont .gftInfo .crtInfo .crtBox .btnWrap button {
    width: 100%;
    min-width: 100px;
    height: 40px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 400;
    border: 0;
}
.tabCont .gftInfo .crtInfo .crtBox .btnWrap button:last-child {
    margin-right: 0px;
}
.tabCont .gftInfo .crtInfo .crtBox .btnWrap .follow {
    color:#0D0D0D;
    background-color: rgba(240, 240, 240, 0.7);
}
.tabCont .gftInfo .crtInfo .crtBox .btnWrap .msg {
    background-color: #fff;
    border: 1px solid #9e9e9e;
}