.header {
    width: 100%;
    margin-top: 10px;
}
.header .hd {
    width: 1160px;
    height: 60px;
    margin: 0 auto;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .hd h1 {
    width: 140px;
    height: 36px;
}

.header .hd h1 a {
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat;
    background-size: cover;
}
.logo {
    width: 100px;
}
/* a 태그 */
.header .hd a:visited, .header .hd a:link {
    color: black;
    text-decoration: none;
}


.header .hd .lftSmn {
    /*width: 300px;*/
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header .hd .lftSmn .pjtUp a {
    padding: 15px;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
}
.header .hd .lftSmn .like,
.header .hd .lftSmn .alm {
    width: auto;
    min-width: 30px;
    min-height: 44px;
    padding: 12px;
    color: #191919;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header .hd .lftSmn .userIf {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.header .hd .lftSmn .userIf .infoGr {
    width: auto;
    min-width: 30px;
    max-height: 44px;
    margin-left: 10px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
.header .hd .lftSmn .userIf .infoGr .ifImg {
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    box-sizing: border-box;
}
.header .hd .lftSmn .userIf .infoGr .ifImg > span {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../img/avatar.webp) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: rgb(208, 208, 208) 0px 0px 1px 0px inset,
    rgb(208, 208, 208) 0px 0px 1px 0px;
}
.header .hd .lftSmn .userIf .infoGr .ifTxt {
    margin-left: 10px;
    color: #191919;
    display: inline-flex;
    font-size: 12px;
    line-height: 28px;
    font-weight: 700;
}

.header .sd {
    width: 100%;
    max-width: 1160px;
    min-height: 56px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.sd .lftCtmn {
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sd .lftCtmn .cateMn {
    display: flex;
    align-items: center;
}
.sd .lftCtmn .cateMn .mnSld {
    min-height: 56px;
    margin-right: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.sd .lftCtmn .cateMn .mnSld .hmMenu {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 5px;
    box-sizing: border-box;
}
.sd .lftCtmn .cateMn .mnSld .hmMenu > span {
    width: 18px;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    background: #000;
}
.sd .lftCtmn .cateMn .home,
.sd .lftCtmn .cateMn .popul,
.sd .lftCtmn .cateMn .new,
.sd .lftCtmn .cateMn .final {
    min-height: 56px;
    margin-right: 20px;
    padding: 0 10px;
    color: #0d0d0d;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.sd .schMn {
    width: 220px;
    height: 36px;
    padding: 0 30px 0 16px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 28px;
    display: inline-flex;
    align-items: center;
    background: #F3F3F3;
    border-radius: 8px;
    box-sizing: border-box;
}
.sd .schMn > input {
    font-size: 12px;
    color: #333;
    line-height: 28px;
    letter-spacing: 0.02em;
    background: #f3f3f3;
    border: none;
}
.sd .schMn .schIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* 로그인/ 회원가입 btn을 위한 임시 공간 */
.fontsize{
    display: flex;
    width: 100px;
}

/* tabmenu */
.tabCont .cont {
    display: none;
}

.tabCont .cont.on {
    display: block;
}

/* bpopup */
.bPopWrap {
    width: calc(100% - 100px);
    min-width: 280px;
    max-width: 640px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    display: none;
}
.bPopWrap .popTit {
    padding: 50px;
}
.pTit {
    padding-right: 40px;
    color: #222;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
.bPopWrap .xBtnWrap {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 50px;
    right: 45px;
}
.xBtnWrap .b-close {
    width: 100%;
    height: 100%;
    text-indent: -999em;
    position: relative;
    background: none;
    border: 0;
    cursor: pointer;
}
.xBtnWrap .b-close::before,
.xBtnWrap .b-close::after {
    content: '';
    height: 25px;
    width: 2px;
    position: absolute;
    left: 14px;
    top: 3px;
    background: #222;
}
.xBtnWrap .b-close::before {
    transform: rotate(45deg);
}
.xBtnWrap .b-close::after {
    transform: rotate(-45deg);
}
.bPopWrap .popScr {
    max-height: 400px;
    min-height: 100px;
    padding: 0 50px;
    padding-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.bPopWrap .popBtm {
    padding: 25px 50px;
    border-top: 1px solid #e5e5e5;
}
.taskButton {
    width: 100%;
    height: 50px;
    padding: 0 5px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    background-color: #fa6462;
    border-radius: 4px;
    border: 0px;
}
.taskButton:hover {
    background-color: #fc7573;
}

/* 상품 상세 닫기 버튼 */
.prdboxGrp .xBtnWrap {
    width: 18px;
    height: 18px;
    display: flex;
    position: absolute;
    top: 2px;
    right: 5px;
}
.prdboxGrp .xBtnWrap .b-close::before,
.prdboxGrp .xBtnWrap .b-close::after {
    content: '';
    height: 18px;
    width: 2px;
    position: absolute;
    left: 8px;
    top: 0px;
    background: #9c9c9c;
}

/* 상품 상세 신고 팝업 */
.popTit .popDesc {
    width: 100%;
    padding-top: 40px;
    color: #3d3d3d;
    font-size: 14px;
    display: block;
}
.popScr .popBoxbtn {
    width: 100%;
    margin: 0px 0px 16px;
    padding: 20px 30px;
    text-align: left;
    display: block;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
}
.popBoxtit {
    margin: 0px 0px 8px;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.popBoxbtn:active {
    border: 1px solid #f86453;
}
.popBoxbtn span {
    width: 100%;
    padding-left: 20px;
    color: #6d6d6d;
    font-size: 13px;
    line-height: 22px;
    position: relative;
    display: block;
}
.popBoxbtn span::before {
    content: "";
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    top: 9px;
    left: 8px;
    background: #6d6d6d;
    border-radius: 50%;
}

/* 스와이퍼 */
.swiper {
    width: 100%;
    height: 100%;
}

/* 로고 포인터*/
.logo{
    cursor : pointer;
}

/* user main css */
.infoGr{
    position: relative;
}

.MyPageList{

    position: absolute;
    display: none;
    flex-direction: column;
    top: 50px;
    right: 0px;
    width: 240px;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1200;
    padding: 10px 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.pageItem {
    padding: 4px 16px;
    display: flex;
    width: 100%;
    height: 46px;
    min-height: 46px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 22px;
    color: rgb(13, 13, 13);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}
.pageItem:hover {
    background: rgba(110, 110, 110, 0.1);
}
.line{
    display: flex;
    width: 100%;
    height: 1px;
    background: rgb(240, 240, 240);
    content: " ";
}
