<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fundly.chat.model.SelBuyMsgDetailsDao">

    <insert id="insertMsg" parameterType="SelBuyMsgDetailsDto">
        <selectKey keyProperty="msg_id" resultType="String" order="BEFORE">
            select concat("MSG_", now(), " ", ifnull(Max(seq), 0) +1 ) from SEL_BUY_MSG_DETAILS
        </selectKey>
        insert into SEL_BUY_MSG_DETAILS (room_num ,msg_id,buy_id, pj_id, msg_cont, send_user_id, file_cnt)
        values (#{room_num},#{msg_id} , #{buy_id}, #{pj_id}, #{msg_cont}, #{send_user_id}, #{file_cnt})
    </insert>

<!--    <insert id="saveImageUrl">-->
<!--        insert into SEL_BUY_MSG_DETAILS (msg_id, buy_id, pj_id, send_user_id, file_url, file_cnt)-->
<!--        values (#{msg_id}, #{buy_id}, #{pj_id}, #{send_user_id}, #{file_url}, #{file_cnt});-->
<!--    </insert>-->

    <select id="loadAllMessages" parameterType="ChatRoomDto" resultType="SelBuyMsgDetailsDto">
        select * from SEL_BUY_MSG_DETAILS where room_num = #{room_num}
    </select>
</mapper>