<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundly.project.model.ProjectMapper">

<!--    상태별로 좋아요 목록 불러올 목적-->
    <select id="selectByStatus" resultType="ProjectDto">
        select pj_sel_id, curr_pj_like_cnt,sub_ctg,pj_id,pj_sel_name,pj_url,pj_long_title,pj_intro,pj_status,fund_result_status,
               fund_goal_money,curr_fund_money,fund_str_dtm,fund_end_dtm
        from PJ
        where pj_id = #{pj_id}
        and pj_status = #{pj_status}
    </select>

<!--    모든 상태의 좋아요 목록 불러올 목적-->
    <select id="selectByEntireStatus" resultType="ProjectDto">
        select pj_sel_id, sub_ctg,pj_id,pj_sel_name,pj_url,pj_long_title,pj_intro,pj_status,fund_result_status,
               fund_goal_money,curr_fund_money,fund_str_dtm,fund_end_dtm
        from PJ
        where pj_id = #{pj_id}
    </select>

    <update id="upLikeCnt">
        update PJ
        set curr_pj_like_cnt = #{curr_pj_like_cnt} + 1
        where pj_id = #{pj_id}
        <selectKey keyProperty="curr_pj_like_cnt" resultType="int" order="AFTER">
            select curr_pj_like_cnt from PJ where pj_id = #{pj_id}
        </selectKey>
    </update>

    <update id="downLikeCnt">
        update PJ
        set curr_pj_like_cnt = #{curr_pj_like_cnt} -1
        where pj_id = #{pj_id}
        <selectKey keyProperty="curr_pj_like_cnt" resultType="int" order="AFTER">
            select curr_pj_like_cnt from PJ where pj_id = #{pj_id}
        </selectKey>
    </update>

    <select id="selectLikeCnt" resultType="integer">
        select curr_pj_like_cnt from PJ where pj_id = #{pj_id}
    </select>

    <insert id="insert" parameterType="ProjectDto">
        INSERT INTO PJ (pj_id,pj_sel_name, pj_sel_id, ctg, sub_ctg,  pj_long_title, pj_short_title, pj_intro, pj_short_intro, pj_tag,
                         pj_pay_due_dtm, pj_sel_intro, pj_gift_intro, fund_goal_money, fund_str_dtm,
                        fund_end_dtm, fund_calc_due_dtm, gift_ship_due_date, pj_status, fund_result_status, curr_pj_like_cnt,
                        curr_fund_money, curr_buy_cnt, dba_reg_id)
        VALUES (#{pj_id},#{pj_sel_name}, #{pj_sel_id}, #{ctg}, #{sub_ctg}, #{pj_long_title}, #{pj_short_title}, #{pj_intro}, #{pj_short_intro}, #{pj_tag},
                #{pj_pay_due_dtm}, #{pj_sel_intro}, #{pj_gift_intro}, #{fund_goal_money}, #{fund_str_dtm},
                #{fund_end_dtm}, #{fund_calc_due_dtm}, #{gift_ship_due_date}, #{pj_status}, #{fund_result_status}, #{curr_pj_like_cnt},
                #{curr_fund_money}, #{curr_buy_cnt}, #{pj_sel_id})
    </insert>
    <update id="update">--  빠진 column추가함
        UPDATE PJ
        SET
            pj_sel_id = #{pj_sel_id},
            ctg = #{ctg},
            sub_ctg = #{sub_ctg},
            pj_long_title = #{pj_long_title},
            pj_short_title = #{pj_short_title},
            pj_thumbnail_url = #{pj_thumbnail_url},
            pj_short_intro = #{pj_short_intro},
            pj_tag = #{pj_tag},
            fund_goal_money = #{fund_goal_money},
            fund_str_dtm = #{fund_str_dtm},
            fund_end_dtm = #{fund_end_dtm},
            pj_pay_due_dtm = #{pj_pay_due_dtm},
            fund_calc_due_dtm = #{fund_calc_due_dtm},
            pj_intro = #{pj_intro},
            pj_budget = #{pj_budget},
            pj_sched = #{pj_sched},
            pj_sel_intro = #{pj_sel_intro},
            pj_gift_intro = #{pj_gift_intro},
            pj_sel_name = #{pj_sel_name},
            pj_sel_short_intro = #{pj_sel_short_intro},
            pj_prof_image_url = #{pj_prof_image_url},
            gift_ship_due_date = #{gift_ship_due_date},
            pj_status = #{pj_status},
            fund_result_status = #{fund_result_status},
            curr_pj_like_cnt = #{curr_pj_like_cnt},
            curr_fund_money = #{curr_fund_money},
            curr_buy_cnt = #{curr_buy_cnt},
            dba_mod_dtm = now(),
            dba_mod_id = #{pj_sel_id}
        WHERE
            pj_id = #{pj_id}
    </update>
    <delete id="deleteAll">
        delete
        from PJ
    </delete>
    <delete id="delete">
        delete from PJ where pj_id = #{pj_id}
    </delete>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from PJ
    </select>
    <select id="getByPjId" resultType="com.persistence.dto.ProjectDto">
        select * from PJ where pj_id = #{pj_id}
    </select>
    <select id="getListByUserId" resultType="com.persistence.dto.ProjectDto">
        select * from pj where pj_sel_id = #{pj_sel_id}
    </select>
    <select id="selectAllPj" resultType="com.persistence.dto.ProjectDto">
        select * from pj
    </select>
    <select id="getRandPjList" resultType="com.persistence.dto.ProjectDto">
        select * from pj order by rand() limit 9
    </select>
    <select id="getListByStatus" resultType="com.persistence.dto.ProjectDto">
        select * from pj where pj_status = #{status}
    </select>
    <update id="updateStatus" parameterType="ProjectDto">
        update PJ
        set pj_status = #{pj_status}
        where pj_id = #{pj_id}
    </update>
</mapper>