.chatIptBox{
    position: relative;
}

.chatIpt {
    width: 100%;
    height: 46px;
    border-radius: 10px;
    border: 0.1px solid gray;
}

.chatIpt:focus {
    outline: none;
}

.sendBtn {
    padding: 20px 10px;
    border-radius: 10px;
    border: 0;

    position: absolute;
    top: 2px;
    right: 10px;

}