.chatIptBox {
    position: relative;
}

.chatIpt {
    box-sizing: border-box;
    padding: 19px;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 0.1px solid gray;
}

.chatIpt:focus {
    outline: none;
}

.sendBtn {
    padding: 10px 13px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    top: 4px;
    right: 0;
    transition: 0.3s;
}

.sendBtn:hover {
    transition: 0.3s;
    background-color: lightgrey;
}

.sendBtn:active {
    transition: 0.3s;
    background-color: #c2c2c2;
}

.chatAttImg{
    display: block;
    width: 300px;
}