html{
    height: 100%;
}

body{
    background: #b4d1ed;
    margin: 0;
    height: 100%;
}

.chatMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chatTable{
    border-spacing: 7px;
}

.chatTableBox{
    /*height: calc(100% - 50px);*/
}

.chatFormContainer{
    position: relative;
}
.chatIptBox {
    position: relative;
}

.chatIpt {
    box-sizing: border-box;
    width: 100%;
    height: 95px;
    border: 0.1px solid gray;
}

.chatIpt:focus {
    outline: none;
}

.imgIpt{
    position: absolute;
    bottom: 8px;
}

.sendBtn {
    padding: 17px 20px;
    border-radius: 25%;
    border: 0;
    position: absolute;
    top: 23px;
    right: 14px;
    transition: 0.3s;
    background-color: #756AB6;
    color: white;
}

.sendBtn:hover {
    transition: 0.3s;
    background-color: lightgrey;
}

.sendBtn:active {
    transition: 0.3s;
    background-color: #c2c2c2;
}

.chatAttImg{
    display: block;
    width: 300px;
}

td{
    border-radius: 14px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0.1px;
}

tr::after {
    content: "20:34";
    font-size: 9px;
    position: relative;
    top: 16px;
    left: 0;
}